<div id="month-links" class="text-center">
    <a href="#Jan">Jan</a>
    <a href="#Feb">Feb</a>
    <a href="#Mar">Mar</a>
    <a href="#Apr">Apr</a>
    <a href="#May">May</a>
    <a href="#Jun">Jun</a>
    <a href="#Jul">Jul</a>
    <a href="#Aug">Aug</a>
    <a href="#Sep">Sep</a>
    <a href="#Oct">Oct</a>
    <a href="#Nov">Nov</a>
    <a href="#Dec">Dec</a>
</div>